@tailwind base;
@tailwind components;
@tailwind utilities;

.home-layout {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
}

.news-page-layout {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
}

.news-scroll::-webkit-scrollbar {
  display: none;
}
.news-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
